{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Lab 4 </title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="">Students</a></li>
            <li><a href="">Courses</a></li>
        </ul>
    </nav>

    {% block title %}
    <h1 class="home-title">Home Page</h1>
    {% endblock title %}

    {% block content %}
    <h2 class="home-content">Welcome in home page from lab 4 project</h2>
    {% endblock content %}

</body>

</html>